<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Image Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <style>
        {{ style_definitions | safe }}
        .my_code {
            background-color: {{ style_bg_color }};  <!-- Added background color for .my_code -->
        }
    </style>
    <h1>Hi!</h1>
    <div class="my_code">{{ code | safe }}</div>
    <a href="{{ url_for('make_image') }}">Create Image</a>
</body>
</html>